/* animate the title */
small {
    font-size: 2em;
    position: relative;
    animation: rainbow 5s infinite;
  }
  
  small:before {
    content: "The Quran";
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  small:hover:before {
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #FF0000, 0 0 80px #FF0000, 0 0 90px #FFA500, 0 0 100px #FFFF00, 0 0 150px #008000, 0 0 200px #0000FF, 0 0 250px #4B0082, 0 0 300px #9400D3;
  }
  
  /* animate the details */
  .title-short {
    font-size: 1.2em;
    position: relative;
    animation: reverse 1s ease-in-out alternate infinite;
    background: linear-gradient(90deg, #FF0000, #FFFF00, #008000, #0000FF, #4B0082, #9400D3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* rainbow color animation */
  @keyframes rainbow {
    0% {
      color: #FF0000;
    }
    16.67% {
      color: #FFA500;
    }
    33.33% {
      color: #FFFF00;
    }
    50% {
      color: #008000;
    }
    66.67% {
      color: #0000FF;
    }
    83.33% {
      color: #4B0082;
    }
    100% {
      color: #9400D3;
    }
  }
  
  /* reverse animation */
  @keyframes reverse {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(-1);
    }
  }
  